<div class="container">

    <h1>NumApp - Login</h1>

    <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <!-- <mat-panel-title >
              Sign In
            </mat-panel-title> -->
            <mat-panel-description>
              Login Credentials
              <mat-icon>account_circle</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
      
          <div class="form-field">
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput type="text" [(ngModel)]="userObj.username">
          </mat-form-field>
    
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" [(ngModel)]="userObj.password">
          </mat-form-field>
    
        </div>
          <mat-action-row>
            <button mat-raised-button color="basic" (click)="validate()">Sign In</button>
          </mat-action-row>
          <span>{{errorObj}}</span>
        </mat-expansion-panel>
       
      </mat-accordion>
    </div>
    