<div class="container">
    <h2>What we do?</h2>
<p>Because businesses must respond quickly to changing market conditions, 
   competitive advantage goes to organizations with IT systems that are both agile 
   and adaptable. Processes, architectures, tools and accelerators must be able 
   to accommodate change without introducing added cost and complexity.</p>

<p>As a large number of core enterprise applications continue to leverage the Java platform,
   there is a renewed focus on adaptability, supportability, quality and stability for these 
   applications.</p>
        
<p>The hyper-personalized user experience is also becoming critical to success in today’s new 
   digital reality. Intelligent assistants and alternate sources of inputs such as voice will
   increasingly influence Java development and create new opportunities for success</p>

<p>To check out our leading projects in this competitive world</p>
<a href="" routerLink="/dashboard">View Dashboard</a>
</div>